# if문

## 두 수 비교하기

In [2]:
A, B = map(int, input().split())
if A>B:
    print('>')
elif A<B:
    print('<')
else:
    print('==')

 10 2

>

## 시험 점수 출력

In [21]:
def result(grade):
    if grade >= 90 and grade <= 100:
        print("A")
    elif grade >= 80 and grade <= 89:
        print("B")
    elif grade >= 70 and grade <= 79:
        print("C")
    elif grade >= 60 and grade <= 69:
        print("D")
    else:
        print("F")
grade = int(input())
result(grade)

 100

A

## 윤년 판단

`-` 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다

`-` 예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다

`-` 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다

`-` 하지만, 2000년은 400의 배수이기 때문에 윤년이다

In [27]:
def leap_year(year):
    if (year%4 == 0 and year%100 != 0) or year%400 == 0:
        print(1)
    else:
        print(0)
year = int(input())
leap_year(year)

 2000

1

## 사분면 고르기

`-` 첫 줄에는 정수 x가 주어진다 (−1000 ≤ x ≤ 1000; x ≠ 0) 다음 줄에는 정수 y가 주어진다 (−1000 ≤ y ≤ 1000; y ≠ 0)

`-` 점 (x, y)의 사분면 번호(1, 2, 3, 4 중 하나)를 출력한다

In [40]:
def quadrant(a,b):
    if a>0 and b>0:
        print(1)
    elif a>0 and b<0:
        print(4)
    elif a<0 and b>0:
        print(2)
    elif a<0 and b<0:
        print(3)
x = int(input())
y = int(input())
quadrant(x, y)

 10
 -7

4

## 알람 시계

`-` 45분 일찍 알람 설정하기

In [8]:
h, m = map(int, input().split())
if m >= 45:
    print(h, m-45)
elif h == 0: 
    print(23, m+15)
else:
    print(h-1, m+15)

 0 25

23 40